<% 
cs.js("$('#loginForm').submit(function(){ \n\
  var $this=this; \n\
  $.post($this.attr('action'),$this.serialize(),function(result){ \n\
    \n\
  });\n\
  return false;\n\
})");
var loggedIn=false;
%>
<header id="navigation" class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".tr-navbar-collapse">
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
            </button>
            <div id="logo"></div>
            <a href="/" class="navbar-brand"><%=cs.title%></a>
        </div>
        <nav class="collapse navbar-collapse tr-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav" id="navbar">
                <%//<li class="active"><a href="#home" class="smothscroll">Home</a></li>%>
                <%//<li><a href="#desc" class="smothscroll">Description</a></li>%>
                <%//<li><a href="#showcase" class="smothScroll">Showcase</a></li>%>
                <%//<li><a href="#contact" class="smothScroll">Contact</a></li>%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <% if(loggedIn){ %>
                <li class="dropdown">
                    Logged in as <a  href="#" class="dropdown-toggle" data-toggle="dropdown" class="navbar-link">Username <b class="caret"></b></a>|
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            <% }else{ %>
                <li><a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-sign-in"></i> Login</a></li>
                <li><a href="/register"><i class="fa fa-users"></i> Register</a></li>
            <% } %>
            </ul>
        </nav>
    </div>
</header>

<% if(!loggedIn){ %>
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" action="/login" id="loginForm">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block"><i class="fa fa-sign-in"></i> Sign In</button>
              <span class="pull-right"><a href="/register"><i class="fa fa-users"></i> Register</a></span>
              <span><a href="/reset-password"><i class="fa fa-support"></i> Need help?</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>    
      </div>
  </div>
  </div>
</div>
<% } %>