<% if(flash && Object.getOwnPropertyNames(flash).length > 0){ %>
<div class='container'>
    <div class='messages row' style="margin-top: 20px;">
        <div class='col-md-12'>
            <% if(flash.info) { %>
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert">x</a>
                <%=message.info %>
            </div>
            <% } %>
	       <% if (flash.error) { %>
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">x</a>
                <%=flash.error %>
            </div>
            <% } %>
	       <% if (flash.warning) { %>
            <div class="alert alert-warning">
                <a class="close" data-dismiss="alert">x</a>
                <%=flash.warning %>
            </div>
            <% } %>
            <% if (flash.success) { %>
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">x</a>
                <%=flash.success %>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% } %>