<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <title><%=title%></title>
        <meta charset='utf-8'>
        <meta name="description" content="<%=description%>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".tr-navbar-collapse">
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                    </button>
                    <div id="logo"></div>
                    <a href="/" class="navbar-brand"><%= title %></a>
                </div>
                <nav class="collapse navbar-collapse tr-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav" id="navbar">
                        <li>
                            <a href="/">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <% if(isAuthenticated){ -%>
                        <li class="dropdown">
                            Logged in as <a  href="#" class="dropdown-toggle" data-toggle="dropdown" class="navbar-link">Username <b class="caret"></b></a>|
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    <% } else { -%>
                        <li>
                            <a class="btn btn-sm navbar-btn" data-toggle="modal" data-target="#loginModal">
                                <i class="fa fa-sign-in"></i> Login
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-sm navbar-btn" href="/register">
                                <i class="fa fa-users"></i> Register
                            </a>
                        </li>
                    <% } -%>
                    </ul>
                </nav>
            </div>
        </header>
        <% if(!isAuthenticated){ -%>
        <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 class="text-center">Login</h3>
                  </div>
                  <div class="modal-body">
                      <form class="form col-md-12 center-block" action="/login" id="modalLoginForm" method="post">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-at-sign fa-2x"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Email" name="email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-asterisk fa-2x"></i></span>
                            <input type="password" class="form-control input-lg" placeholder="Password" name="password">
                        </div>
                          <div class="form-group">
                                <a class="btn btn-lg col-md-5 col-sm-6 col-md-offset-1 col-sm-6" href="/register">
                                    <i class="fa fa-users"></i> Register
                                </a>
                                <button type="submit" class="btn btn-primary btn-lg col-md-5 col-md-offset-1 col-sm-6">
                                    <i class="fa fa-sign-in"></i> Sign In
                                </button>
                          </div>
                      </form>
                      <div style="clear: both"></div>
                  </div>
              </div>
          </div>
        </div>
        <% } -%>
        <% if(typeof flash !== 'undefined'){ -%>
        <div class='container'>
            <div class='messages row'>
                <div class='col-md-12'>
                    <div class="alert alert-danger" <% if (!flash.error) { %> style="display:none" <% } %>>
                        <a class="close" data-dismiss="alert">x</a>
                        <span><%=flash.error %></span>
                    </div>
                    <div class="alert alert-warning" <% if (!flash.warning) { %> style="display:none" <% } %>>
                        <a class="close" data-dismiss="alert">x</a>
                        <span><%=flash.warning %></span>
                    </div>
                    <div class="alert alert-info" <% if (!flash.info) { %> style="display:none" <% } %>>
                        <a class="close" data-dismiss="alert">x</a>
                        <span><%=flash.info %></span>
                    </div>
                    <div class="alert alert-success" <% if (!flash.success) { %> style="display:none" <% } %>>
                        <a class="close" data-dismiss="alert">x</a>
                        <span><%=flash.success %></span>
                    </div>
                </div>
            </div>
        </div>
        <% } -%>
        <!-- content -->
        <div id="wrapper">
            <%- body %>
        </div>
        <!-- footer -->
        <p class="small text-muted text-center">
            Copyright &copy; 2014, <%=title%>. 
            Powered by: <a href="https://github.com/gusnips/node-koa-mvc/" target="_new">koa-mvc</a>
            Design by: <a href="http://gettemplate.com/" rel="designer" title="Free Bootstrap templates">GetTemplate</a>
        </p>
        <p class="small text-muted text-center">
            If you'd like to report a bug or suggest an improvement, post an issue on <a href="https://github.com/gusnips/node-koa-mvc/issues">GitHub</a> and I'll be happy to help!
        </p>
        <!-- render scripts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>