<%
cs.js('$(".carousel").carousel({interval: 3500});');
%>
<section id="home">
    <div class="container">
    	<div class="row centered">
    		<div class="col-lg-12">
				<h1>Welcome To <b><%=cs.title%></b></h1>
				<h3>Show your product with this handsome theme.</h3>
				<br>
    		</div>
    		
    		<div class="col-lg-2">
    			<h5>Amazing Results</h5>
    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    			<img class="hidden-xs hidden-sm hidden-md" src="http://www.blacktie.co/demo/pratt/assets/img/arrow1.png">
    		</div>
    		<div class="col-lg-8">
    			<img class="img-responsive" src="http://www.blacktie.co/demo/pratt/assets/img/app-bg.png" alt="">
    		</div>
    		<div class="col-lg-2">
    			<br>
    			<img class="hidden-xs hidden-sm hidden-md" src="http://www.blacktie.co/demo/pratt/assets/img/arrow2.png">
    			<h5>Awesome Design</h5>
    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    		</div>
    	</div>
    </div> <!--/ .container -->
</section>


<section id="desc">
	<div class="container">
		<div class="row centered">
			<h1>Designed To Excel</h1>
			<br>
			<br>
			<div class="col-lg-4">
				<img src="http://www.blacktie.co/demo/pratt/assets/img/intro01.png" alt="">
				<h3>Community</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="col-lg-4">
				<img src="http://www.blacktie.co/demo/pratt/assets/img/intro02.png" alt="">
				<h3>Schedule</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="col-lg-4">
				<img src="http://www.blacktie.co/demo/pratt/assets/img/intro03.png" alt="">
				<h3>Monitoring</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
		</div>
		<br>
		<hr>
    </div> <!--/ .container -->
</section>

<!-- FEATURES WRAP -->
<section id="features">
	<div class="container">
		<div class="row">
			<h1 class="centered">What's New?</h1>
			<br>
			<br>
			<div class="col-lg-6 centered">
				<img class="centered" src="http://www.blacktie.co/demo/pratt/assets/img/mobile.png" alt="">
			</div>
			
			<div class="col-lg-6">
				<h3>Some Features</h3>
				<br>
			<!-- ACCORDION -->
	            <div class="accordion ac" id="accordion2">
	                <div class="accordion-group">
	                    <div class="accordion-heading">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	                        First Class Design
	                        </a>
	                    </div><!-- /accordion-heading -->
	                    <div id="collapseOne" class="accordion-body collapse in">
	                        <div class="accordion-inner">
							<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /accordion-inner -->
	                    </div><!-- /collapse -->
	                </div><!-- /accordion-group -->
	                <br>
	
	                <div class="accordion-group">
	                    <div class="accordion-heading">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	                        Retina Ready Theme
	                        </a>
	                    </div>
	                    <div id="collapseTwo" class="accordion-body collapse">
	                        <div class="accordion-inner">
							<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /accordion-inner -->
	                    </div><!-- /collapse -->
	                </div><!-- /accordion-group -->
	                <br>
	
	                 <div class="accordion-group">
	                    <div class="accordion-heading">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
	                        Awesome Support
	                        </a>
	                    </div>
	                    <div id="collapseThree" class="accordion-body collapse">
	                        <div class="accordion-inner">
							<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /accordion-inner -->
	                    </div><!-- /collapse -->
	                </div><!-- /accordion-group -->
	                <br>
	                
	                 <div class="accordion-group">
	                    <div class="accordion-heading">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
	                        Responsive Design
	                        </a>
	                    </div>
	                    <div id="collapseFour" class="accordion-body collapse">
	                        <div class="accordion-inner">
							<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /accordion-inner -->
	                    </div><!-- /collapse -->
	                </div><!-- /accordion-group -->
	                <br>			
				</div><!-- Accordion -->
			</div>
		</div>
	</div><!--/ .container -->
</section><!--/ #features -->


<section id="showcase">
	<div class="container">
		<div class="row">
			<h1 class="centered">Some Screenshots</h1>
			<br>
			<div class="col-lg-8 col-lg-offset-2">
				<div id="carousel-example-generic" class="carousel slide">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				  </ol>
				
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="http://www.blacktie.co/demo/pratt/assets/img/item-01.png" alt="">
				    </div>
				    <div class="item">
				      <img src="http://www.blacktie.co/demo/pratt/assets/img/item-02.png" alt="">
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>	
	</div><!-- /container -->
</section>

<section id="people">
	<div class="container">
		<div class="col-md-12 text-center"><h2>Random People With Sunglasses</h2></div>
	    <div class="col-md-12 text-center">&nbsp;</div>
	    <div class="col-md-8 col-md-offset-2 text-center">
	      <div class="row hidden-xs">
	       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/5c708a2c9d25d1f2e4195ece1f1c684d?s=80"></div>
	       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/3bb38f66f79ca138f318af89fe6b02ec?s=80"></div>
	       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/3423a3e32fda92a5aaed72c7cde3849c?s=80"></div>
	       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/325b6c3c0a75bfdb72822035bb556826?s=80"></div>
	       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/cdd69340b0cfac4c7acb892e3ea7556e?s=80"></div>  
	       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/889778901fb1522dac2846ffe62bd960?s=80"></div>
	     </div>
	    </div>
	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="col-lg-5">
			<h3>Address</h3>
			<p>
			Av. Greenville 987,<br/>
			New York,<br/>
			90873<br/>
			United States
			</p>
		</div>
		
		<div class="col-lg-7">
			<h3>Drop Us A Line</h3>
			<br>
			<form role="form" action="/doContact" method="post"> 
			  <div class="form-group">
			    <label for="name">Your Name</label>
			    <input type="name" name="name" class="form-control" id="name" placeholder="Your Name">
			  </div>
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" name="mail" class="form-control" id="email" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			  	<label>Your Text</label>
			  	<textarea class="form-control" name="message" rows="3"></textarea>
			  </div>
			  <br>
			  <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
			</form>
		</div>
	</div>
</section>